# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

*.class
# Package Files #
*.jar
*.war
*.ear
*.lnk
target/
bin/
logs/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
gen/*
*.log
R.java
.classpath
.idea
.project
.settings
*.iml
*.pdf
*.agent

# npm
