<div class="home-view">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="{{homeCtrl.homeLinkName}}"><i class="glyphicon glyphicon-home"></i></a>
    </div>
    <!-- Collect the nav links, dropdown for toggling -->
    <div class="collapse navbar-collapse" ng-class="'in'">
      <ul class="nav navbar-nav" ng-repeat="link in homeCtrl.navLinks">
        <li ng-class="{active: link.active}">
          <a ui-sref="{{link.name}}">
            <i ng-class="link.iconClass" aria-hidden="true"></i>{{link.title}}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div ui-view></div>